.products-page-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent"
      "ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent"
      "ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent ProductsPageContent";
  }

  .ProductsPageMenu { grid-area: ProductsPageMenu; 
    width: 100%;
  }
  
  .ProductsPageSideMenu { grid-area: ProductsPageSideMenu;
    width: 100%;
  }
  

  
  .ProductsPageContent { grid-area: ProductsPageContent; 
    width: 100%;
  }
  