@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

#root {
  width: 100%;
}

* {
  font-family: "Roboto", sans-serif;
  color: #646777;
}

body {
  background-color: #f2f4f7;
  display: flex;
  min-height: 100vh;
}

div,
input,
textarea {
  box-sizing: border-box;
  overflow-wrap: anywhere;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: none;
  text-decoration: none;
}


.verde {
  color: #21BA45;
}

// TABLE CSS

.table-container {
  border-collapse:collapse;
  border:1px solid #E3E4E6;
  border-top: 2px solid #21BA45;
  border-radius:6px;
  -moz-border-radius:5px;
  width: 100%;
  margin-top: 15px;
}

.table-header-container {
  border-bottom:1px solid #E3E4E6;
  background-color: #F9FAFB;
}

.table-header {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.table-header > span {
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 15px;
}

.table-search-field-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffffff;
  padding: 0;
  border: 1px solid #E3E4E6;
  border-radius: 5px;
}

.table-search-field-input {
  border: none;
  height: 25px;
  padding: 20px;
  display: flex;
}

.table-search-field-name, .table-search-field-icon {
  height: 25px;
  display: flex;
  align-items: center;
  padding: 20px;
  text-transform: uppercase;
}

.table-search-field-name {
  background-color: #F2F4F7;
  border-right: 1px solid #E3E4E6;
}



.table-container > tr > td, .table-container > tr > th {
  text-align: center;
  padding: 20px;
  border:1px solid #E3E4E6;
}

td {
  background-color: #ffffff;
}

// TABLE DETAILS

.ascunde {
  display: none;

}

.arata {

}

.table-details-container {
  border-collapse:collapse;
  border:1px solid black;
  width: 100%;
}

.table-details-container > tr > th {
  background-color: #eeeeee;
}

.table-details-container > tr > td {
  background-color: #f5f5f5;
}

.table-details-container > tr > td, .table-details-container > tr > th {
  text-align: center;
  padding: 20px;
  border:2px solid #cbcbcb;
}

// MODALS

.table-modals {
  margin-top: 15px;
}

// STUPID MODAL FIX SEMANTIC UI

.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui.modal,
.ui.active.modal {
  margin: 0 auto!important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;



// CART css2

.white-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}

.cart-product-name {
  text-transform: uppercase;
  font-weight: 500;
}

.cart-quantity-form {
  padding: 15px;
}

.form-control {
  border: 1px solid #cbcbcb;
  margin-bottom: 20px;
  padding: 10px;
}
